.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: futura;
  font-size: 50px
}

.gif-item {
    box-shadow: 1px 2px 3px 0 #ccc;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 1px;
    padding: 1em;
    width: 100%;
}

.gif-item img {
    width: 100%;
}

.gif-list {
    column-gap: 1.5em;
    font-size: .85em;
    margin: 1px 0;
    padding: 10px 100px 10px 100px;
}

@media only screen and (min-width: 400px) {
    .gif-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .gif-list {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .gif-list {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .gif-list {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}
